<div class="container">
  <div class="row section-header" >
    <div class="col-sm-3">
      <h2 class="section-title text-primary">SubProductos</h2>
    </div>
    <div class="col-sm-9" >
      <button type="button" class="btn btn-info ml-2" (click)="create()">
        <i class="fa fa-plus"></i> Agregar
      </button>
    </div>
  </div>
  <!-- <div class="row section-filters mt-2">
    <div class="col-md-4">
      <div class="form-group">
        <label for="textSearch">Buscar</label>
        <input type="text" class="form-control" id="textSearch" (keyup.enter)="getItems()"
          placeholder="Buscar por nombre..." [(ngModel)]="textSearch" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <label class="invisible">.</label>
        <button class="btn btn-outline-primary btn-block" (click)="getItems()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div> -->
  <div class="row p-3">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('code')">
                Codigo
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.code == 1,'fa-arrow-up': sortField.code == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th>
              <button disabled type="button" class="btn btn-light">
                Producto
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.price == 1,'fa-arrow-up': sortField.price == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('name')">
                Característica
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.name == 1,'fa-arrow-up': sortField.name == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('price')">
                Precio
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.price == 1,'fa-arrow-up': sortField.price == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('cost')">
                Costo
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.cost == 1,'fa-arrow-up': sortField.cost == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('stock')">
                Stock
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.stock == 1,'fa-arrow-up': sortField.stock == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-right">
              {{count}} Resultados
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Cargador -->
          <tr *ngIf="loading" class="text-center">
            <td colspan="6">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...
            </td>
          </tr>
          <!-- Texto cuando no hay resultados  -->
          <tr *ngIf="!loading && items.length == 0" class="text-center">
            <td colspan="6">
              <span class="text-muted">
                <i class="fa fa-close" aria-hidden="true"></i>
                No hay subproductos para mostrar
              </span>
            </td>
          </tr>
          <tr *ngFor="let item of items">

            <td class="px-4">
              {{ item.code }}
            </td>
            <td *ngIf="item.product?.name" class="px-4">
              {{ item.product?.name }}
            </td>
            <td *ngIf="!item.product?.name" class="px-4" style="color:gray">
              Producto Eliminado
            </td>
            <td class="px-4">
              {{ item.name }}
            </td>
            <td class="px-4 ">
              {{ item.price }}
            </td>
            <td class="px-4 ">
              {{ item.cost }}
            </td>
            <td class="px-4">
              {{ item.stock }}
            </td>
            <td class="text-right">
              <button *ngIf="!item.isFromSale" class="btn btn-primary btn-sm mt-2 mr-2" type="button"
                (click)="loadTransactions( item, transactions)">
                Historial
              </button>
              <button *ngIf="!item.isFromSale" class="btn btn-primary btn-sm mt-2 mr-2" type="button"
                (click)="openModal(stock, item)">
                Agregar Stock
              </button>
              <button class="btn btn-primary btn-sm mt-2 mr-2" type="button" (click)="edit(item)">
                Editar
              </button>
              <button class="btn btn-danger btn-sm mt-2" type="button" (click)="remove(item)">
                <i class="fa fa-close" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': page <= 1}"><a class="page-link"
              (click)="previousPage()">Anterior</a></li>
          <li class="page-item "><a class="page-link">{{page}}</a></li>
          <li class="page-item" [ngClass]="{'disabled': pages <= page}"><a class="page-link"
              (click)="nextPage()">Siguiente</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-4 text-right pt-2">
      <span class="text-muted">
        Total de páginas {{pages}}
      </span>
    </div>
  </div>
</div>

<ng-template id="stock" #stock class="modal fade" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Agregar Stock {{ itemSelected.product.name }} {{ itemSelected.name }}</h1>

      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 mb-3">
          <!-- <label>Seleccione proveedor</label>
          <select class="form-control custom-select" [(ngModel)]="supplier">
            <option *ngFor="let item of suppliers" [ngValue]="item">{{ item.name }}</option>
          </select> -->

          <!-- <div class="card">
            <div class="card-header">
                <h2>Selección de proovedores</h2>
            </div>
            <div class="card-body" style="max-height: 20em;"> -->


              <label>Seleccione proveedor</label>
              <table class="table table-striped mt-4" class="list" style="max-height: 20em;">
                  <thead class="thead-light">
                      <tr>
                          <th></th>
                          <th>Nombre</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Texto cuando no hay resultados  -->
                      <tr *ngIf="suppliers.length == 0" class="text-center">
                          <td colspan="7">
                              <span class="text-muted">
                                  <i class="fa fa-close" aria-hidden="true"></i>
                                  No hay proveedores para mostrar
                              </span>
                          </td>
                      </tr>
                      <tr *ngFor="let item of suppliers" >
                          <td width="5%" class="text-right">
                              <button type="button" class="btn primary btn-sm mr-2"
                                  (click)="setSuppliers(item)" 
                                  [ngStyle]="supplier === item ? {'color': 'greenyellow'} : {'color': 'white'}">
                                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </button>
                          </td>
                          <td width="45%">{{item.name}}</td>
                          <td width="50%">{{item.emailAddress}}</td>
                      </tr>
                  </tbody>
              </table>
            <!-- </div>
          </div> -->


        </div>
        <div class="col-md-6">
          <label>IMEI</label>
          <input type="text" [disabled]="imeiEnable" [(ngModel)]="imei" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <zxing-scanner [enable]="scannerEnabled" [formats]="['QR_CODE', 'EAN_13','EAN_8', 'CODE_128', 'DATA_MATRIX']"
            #scanner (scanSuccess)="scanSuccessHandler($event)">
          </zxing-scanner>
          <!-- <h3 *ngIf="scannerEnabled">Código: {{imei}}</h3> -->
          <button type="button" (click)="enableScanner()" class="btn btn-primary float-right mr-5">
            <i class="fa fa-eye" aria-hidden="true"></i> ESCANEAR
          </button>
        </div>

        <div class="col-md-12 text-right pt-3">
          <button (click)="addStock()" class="btn btn-primary btn-sm mr-2" style="width: 30%" type="button">
            <i class="fa fa-check"></i> Agregar
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</ng-template>

<ng-template id="transactions" #transactions class="modal fade" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Historial {{ itemSelected.product.name }} {{ itemSelected.name }}</h1>

      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>
              <button type="button" class="btn btn-light">
                Proveedor
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light">
                IMEI
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light">
                Estado
              </button>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactionsArray">

            <td *ngIf="item.supplier" class="px-4">
              {{ item.supplier.name }}
            </td>
            <td style="color: gray;" *ngIf="!item.supplier" class="px-4">
              Proveedor Eliminado
            </td>
            <td class="px-4">
              {{ item.imei }}
            </td>
            <td *ngIf="item.sold" class="px-4">
              Vendido
            </td>
            <td *ngIf="!item.sold" class="px-4">
              Disponible
            </td>
            <td class="text-right">
              <button class="btn btn-primary btn-sm mr-2" type="button" (click)="deleteTransaction(item)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>