<div class="container">
    <nav aria-label="breadcrumb" class="mt-2">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/riders']" routerLinkActive="router-link-active">Riders</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Modificar rider</li>
      </ol>
    </nav>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-5">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="firstName">
            <small *ngIf="isFieldValid('firstName')" class="form-text text-danger">
              {{getFieldError('firstName')}}
            </small>
          </div>
          <label>Apellido</label>
          <input type="text" class="form-control"  formControlName="lastName">
          <small *ngIf="isFieldValid('lastName')" class="form-text text-danger">
            {{getFieldError('lastName')}}
          </small>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="form-group upload-container">
            <label>Foto de perfil</label>
            <div class="row">
              <div class="col-3">
                <img class="img-fluid" onError="this.src='../../../assets/imgs/Default_Image_Thumbnail.png'"
                  [src]="filesUrl + form?.value?.picture" />
              </div>
              <div class="col my-auto">
                <button type="button" class="btn btn-danger text-center" (click)="changeImage()" >Subir Archivo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-5">
          <label>E-Mail</label>
          <input type="email" class="form-control" formControlName="emailAddress">
          <small *ngIf="isFieldValid('emailAddress')" class="form-text text-danger">
            {{getFieldError('emailAddress')}}
          </small>
        </div>
        <div class="col-md-2"></div>
        <div class="form-group col-md-5">
            <!-- BIRTH DATE -->
            <label>Fecha de nacimiento</label>
            <input type="date" class="form-control" [(ngModel)]="birthDay" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
            <label>Telefono</label>
            <input type="number" class="form-control"  formControlName="phoneNumber">
            <small *ngIf="isFieldValid('phoneNumber')" class="form-text text-danger">
                {{getFieldError('phoneNumber')}}
            </small>
        </div>
        <div class="col-md-2"></div>
        <div class="form-group col-md-5">
            <!-- DIRECCION -->
            
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-5">
            <label>Licencia de conducir</label>
            <input type="text" class="form-control" formControlName="driverLicense">
            <small *ngIf="isFieldValid('driverLicense')" class="form-text text-danger">
              {{getFieldError('driverLicense')}}
            </small>
        </div>
        <div class="col-md-2"></div>
        <div class="form-group col-md-5">
            <label>Ruat</label>
            <input type="text" class="form-control" formControlName="ruat">
            <small *ngIf="isFieldValid('ruat')" class="form-text text-danger">
              {{getFieldError('ruat')}}
            </small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
            <label>Número de placa</label>
            <input type="number" class="form-control" formControlName="plateNumber">
            <small *ngIf="isFieldValid('plateNumber')" class="form-text text-danger">
              {{getFieldError('plateNumber')}}
            </small>
        </div>
        <div class="col-md-2"></div>
        <div class="form-group col-md-5">
            <label>Número de carnet</label>
            <input type="number" class="form-control" formControlName="licenseNumber">
            <small *ngIf="isFieldValid('licenseNumber')" class="form-text text-danger">
              {{getFieldError('licenseNumber')}}
            </small>
        </div>
      </div>
  
      <hr>
  
      <div class="row mb-5">
        <div class="col-md-7">
          <button class="btn btn-secondary float-right mr-5" type="submit" [disabled]="!form.valid" >
            <i class="fa fa-check" aria-hidden="true"></i> GUARDAR
          </button>
        </div>
      </div>
    </form>
  </div>