<div class="container">
    <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/sales']" routerLinkActive="router-link-active">Ventas</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Nueva venta</li>
        </ol>
    </nav>

    <!-- ------ SELECCION DE PRODUCTOS ------  -->
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h2>Selección de Productos</h2>
                </div>
                <div class="card-body">
                    <!-- //// SEARCHER -->
                    <div class="row">
                        <div class="col-md-8 mt-4">
                            <label>Buscar producto</label>
                            <input style="width: 90%;" class="form-control mr-sm-2" type="search"
                                placeholder="Buscar por nombre o código" [(ngModel)]="search"
                                [ngModelOptions]="{standalone: true}" (change)="filterProduct(search)">
                        </div>
                        <div class="col-md-4 mt-4">
                            <label>Producto</label>
                            <select class="form-control" placeholder="Producto"
                                (change)="filterCategory($event.target.value)">
                                <option value="all">Todo</option>
                                <option *ngFor="let item of categories" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4" class="list">
                            <!-- //// PRODUCT LIST -->
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th>Producto</th>
                                        <th>Características</th>
                                        <th>Código</th>
                                        <th>Stock</th>
                                        <th>Costo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="products.length == 0" class="text-center">
                                        <td colspan="7">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay productos para mostrar
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of products">
                                        <td width="5%" class="text-right">
                                            <button type="button" class="btn primary btn-sm mr-2"
                                                (click)="selectProduct(item)">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td width="20%">{{item.product?.name}}</td>
                                        <td width="20%">{{item.name}}</td>
                                        <td width="20%">{{item.code}}</td>
                                        <td width="10%">{{item.stock}}</td>
                                        <td width="15%">${{item.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- ------ //// FIN SELECCION DE PRODUCTOS ------  -->

    <!-- ------ SELECCION DE IMEI ------  -->
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h2>Selección de IMEI</h2>
                </div>
                <div class="card-body">
                    <!-- //// SEARCHER -->
                    <div class="row">
                        <div class="col-md-8 mt-4">
                            <label>Buscar IMEI</label>
                            <input [disabled]="!categorySelected" style="width: 90%;" class="form-control mr-sm-2"
                                type="search" placeholder="Buscar por imei" [(ngModel)]="imeiFilter"
                                [ngModelOptions]="{standalone: true}" (change)="filterImei(imeiFilter)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4" class="list">
                            <!-- //// PRODUCT LIST -->
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th>IMEI</th>
                                        <th>Proveedor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="transactions.length == 0" class="text-center">
                                        <td colspan="7">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay IMEIs para mostrar
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of transactions">
                                        <td width="5%" class="text-right">
                                            <button [disabled]="existsImei(item)" type="button"
                                                class="btn primary btn-sm mr-2" (click)="addToSale(item)">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td width="70%">{{item.imei}}</td>
                                        <td *ngIf="item.supplier" width="20%">{{item.supplier.name}}</td>
                                        <td *ngIf="!item.supplier" width="20%">Proveedor eliminado</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- ------ //// FIN SELECCION DE IMEI ------  -->

    <!-- ------ LISTA DE COMPRAS ------  -->

    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h2>Lista de compra</h2>
                </div>
                <div class="card-body" class="list">
                    <table class="table table-striped mt-4">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <!-- <th>Producto</th> -->
                                <th>Característica</th>
                                <th>IMEI</th>
                                <th>Valor</th>
                                <th>Cantidad</th>
                                <!-- <th>Total</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Texto cuando no hay resultados  -->
                            <tr *ngIf="productsList.length == 0" class="text-center">
                                <td colspan="6">
                                    <span class="text-muted">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                        No hay productos en la lista
                                    </span>
                                </td>
                            </tr>
                            <tr *ngFor="let item of productsList">
                                <td width="5%" class="text-right">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteListItem(item)">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td width="30%">{{item.subproduct?.name}}</td>
                                <!-- <td width="20%">{{item.name}}</td> -->
                                <td width="30%">{{item.imei}}</td>
                                <td width="25%">{{item.subproduct.price}}</td>
                                <td width="10%">1</td>
                                <!-- <td width="12%">{{item.total}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ------ //// FIN LISTA DE COMPRAS ------  -->

    <!-- ------ CLIENTE ------  -->

    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header" style="display: flex; align-items: center;">
                    <h2>Selección de cliente </h2>
                    <p style="margin-left: 1em;">(si no se encuentra cree uno)</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 mt-4">
                            <label>Buscar Cliente</label>
                            <input style="width: 90%;" class="form-control mr-sm-2" type="search"
                                placeholder="Buscar por nombre o mail" [(ngModel)]="searchU"
                                [ngModelOptions]="{standalone: true}" (change)="filterClient(searchU)">
                        </div>
                        <div class="col-md-4 mt-4">
                        </div>
                        <div class="col-md-12 mt-4" class="list">
                            <table class="table table-striped mt-4">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Telefono</th>
                                        <th>DNI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Cargador -->
                                    <!-- <tr *ngIf="loading" class="text-center">
                                        <td colspan="4">
                                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando
                                            clientes...
                                        </td>
                                    </tr> -->
                                    <!-- Texto cuando no hay resultados  -->
                                    <tr *ngIf="!loading && clients.length == 0" class="text-center">
                                        <td colspan="4">
                                            <span class="text-muted">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                No hay clientes para mostrar
                                            </span>
                                        </td>

                                        <div class="form-group col-md-4">
                                            <button class="btn btn-primary float-right mr-5" type="submit"
                                                [disabled]="!form.valid">
                                                <i class="fa fa-check" aria-hidden="true"></i> GUARDAR
                                            </button>
                                        </div>
                                    </tr>
                                    <tr *ngFor="let item of clients">
                                        <td width="5%" class="text-right">
                                            <button type="button" class="btn primary btn-sm mr-2"
                                                (click)="selectClient(item)">
                                                <i class="fa fa-check-circle" aria-hidden="true"
                                                    [ngStyle]="clientSelected === item.id ? {'color': 'greenyellow'} : {'color': 'white'}"></i>
                                            </button>
                                        </td>
                                        <td width="23%">{{item.name}}</td>
                                        <td width="24%">{{item.emailAddress}}</td>
                                        <td width="24%">{{item.phone}}</td>
                                        <td width="23%">{{item.dni}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------ //// ------  -->

    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h2>Creación de cliente</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Nombre</label>
                                <input type="text" class="form-control" formControlName="name">
                                <small *ngIf="isFieldValid('name')" class="form-text text-danger">
                                    {{getFieldError('name')}}
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Correo electrónico</label>
                                <input type="text" class="form-control" formControlName="emailAddress">
                                <small *ngIf="isFieldValid('emailAddress')" class="form-text text-danger">
                                    {{getFieldError('emailAddress')}}
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Teléfono</label>
                                <input type="number" class="form-control" formControlName="phone">
                                <small *ngIf="isFieldValid('phone')" class="form-text text-danger">
                                    {{getFieldError('phone')}}
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label>DNI</label>
                                <input type="number" class="form-control" formControlName="dni">
                                <small *ngIf="isFieldValid('dni')" class="form-text text-danger">
                                    {{getFieldError('dni')}}
                                </small>
                            </div>
                            <div class="form-group col-md-12" style="text-align: end;">

                                <button (click)="onSubmit()" type="button" class="btn primary mr-2">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i> Crear
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ------ //// FIN CLIENTE ------  -->

    <!-- ------ CIERRE ------  -->
    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    Cierre
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mt-4">
                            <label>Descuento</label>
                            <input type="number" class="form-control" placeholder="Ingrese un monto"
                                [(ngModel)]="discount">
                        </div>
                        <div class="col-md-4 mt-4">
                            <label>Costo de venta:</label>
                            <h3 style="color: gray">${{listTotal - discount}}</h3>
                        </div>
                        <div class="col-md-4 mt-4">
                            <label></label>
                            <button class="btn primary mb-4 mt-4 float-right" type="button" block (click)="logForm()"><i
                                    class="fa fa-check " aria-hidden="true"></i> Realizar venta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------ //// FIN CIERRE ------  -->
</div>