<div class="container">
  <div class="row section-header" style="margin-top: 1em; margin-right: 1em;">
    <div class="col-sm-3">
      <h2 class="section-title text-primary">Ventas</h2>
    </div>
    <div class="col-sm-9" style="text-align: end;">
      <button type="button" class="btn btn-info ml-2" (click)="create()">
        <i class="fa fa-plus"></i> Generar venta
      </button>
    </div>
  </div>
  <div class="row section-filters mt-2" *ngIf="!user.roles.includes('manager')">
    <div class="col-md-12 form-row" >
      <!-- <div class="form-group">
        <label for="textSearch">Buscar</label>
        <input type="text" class="form-control" id="textSearch" (keyup.enter)="getItems()"
          placeholder="Buscar por nombre..." [(ngModel)]="textSearch" [ngModelOptions]="{standalone: true}">
      </div> -->
      <div class="form-group m-2">
        <label for="textSearch">Buscar por Fecha desde</label>
        <input [disabled]="user.roles.includes('manager')" class="form-control" placeholder="Ingrese una fecha desde"
          [(ngModel)]="dateFrom" type="date">
      </div>
      <div class="form-group m-2">
        <label for="textSearch">Buscar por Fecha Hasta</label>
        <input [disabled]="user.roles.includes('manager')" class="form-control" placeholder="Ingrese una fecha hasta"
          [(ngModel)]="dateTo" type="date">
      </div>
      <div class="form-group m-2">
        <label for="textSearch">Buscar por costo</label>
        <input class="form-control" [disabled]="user.roles.includes('manager')" placeholder="Ingrese costo" [(ngModel)]="price" type="number">
      </div>
      <div class="form-group m-2">
        <label for="textSearch">Buscar por Cliente</label>
        <select class="custom-select" [disabled]="user.roles.includes('manager')" (change)="filterClient($event.target.value)" [(ngModel)]="customer">
          <!-- <option value="null" disabled hidden selected>Seleccione un cliente</option> -->
          <option *ngFor="let client of customers" value="{{client.id}}">
            {{client.name}}</option>
        </select>
      </div>
      <div class="form-group m-2">
        <label class="invisible">asi</label>
        <button class="btn btn-outline-primary btn-block" [disabled]="user.roles.includes('manager')" (click)="getItems()">
          <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>
      </div>
      <!-- <div [hidden]="user.roles.includes('manager')" class="form-group m-2">
        <label>Total de ventas:</label>
        <h1>${{totalSale}}</h1>
      </div> -->
    </div>
  </div>
  <div class="row section-filters mt-2 p-2" style="border:1px solid;" *ngIf="!user.roles.includes('manager') && dateFrom != null && dateTo != null">
    <div class="col-md-2">
      <h2>Totales del lapso de fechas:</h2>
    </div>
    <div class="col-md-2">
        <label for="textSearch">Pagado en ARS</label>
        <h2>$100</h2>
    </div>
    <div class="col-md-2">
        <label for="textSearch">Pagado en USD</label>
        <h2>$100</h2>
    </div>
    <div class="col-md-2">
        <label for="textSearch">Costo total</label>
        <h2>$100</h2>
    </div>
    <div class="col-md-2">
        <label for="textSearch">Ganancia en ARS</label>
        <h2>$100</h2>
    </div>
    <div class="col-md-2">
        <label for="textSearch">Ganancia en USD</label>
        <h2>$100</h2>
    </div>
  </div>
  <div class="row p-3">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>
              <button type="button" class="btn btn-light">
                Cliente
                <i class="fa" aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-center">
              <button type="button" class="btn btn-light">
                Fecha
                <i class="fa" aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-center" >
              <button type="button" class="btn btn-light">
                Pagado en ARS
                <i class="fa" aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-center" >
              <button type="button" class="btn btn-light">
                Pagado en USD
                <i class="fa" aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-center" >
              <button type="button" class="btn btn-light">
                Costo total
                <i class="fa" aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-center" >
              <button type="button" class="btn btn-light">
                Ganancia en ARS
                <i class="fa" aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-center" >
              <button type="button" class="btn btn-light">
                Ganancia en USD
                <i class="fa" aria-hidden="true"></i>
              </button>
            </th>
            <th class="text-right">
              {{count}} Resultados
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Cargador -->
          <tr *ngIf="loading" class="text-center">
            <td colspan="8">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...
            </td>
          </tr>
          <!-- Texto cuando no hay resultados  -->
          <tr *ngIf="!loading && items.length == 0" class="text-center">
            <td colspan="8">
              <span class="text-muted">
                <i class="fa fa-close" aria-hidden="true"></i>
                No hay ventas para mostrar
              </span>
            </td>
          </tr>
          <tr *ngFor="let item of items">

            <td *ngIf="item.client" class="px-4">
              {{ item.client?.name }}
            </td>
            <td *ngIf="!item.client" style="color:gray" class="px-4">
              Cliente eliminado
            </td>
            <td class="px-4 text-center">
              {{ item.createdAt | date:'dd/MM/yyyy' }}
            </td>
            <td class="px-4 text-center" >
              ${{ item.total - item.discount}}
            </td>
            <td class="px-4 text-center" >
              ${{ item.total - item.discount}}
            </td>
            <td class="px-4 text-center" >
              ${{ item.total - item.discount}}
            </td>
            <td class="px-4 text-center" >
              ${{ item.total - item.discount}}
            </td>
            <td class="px-4 text-center" >
              ${{ item.total - item.discount}}
            </td>
            <td *ngIf="showPriceChange" class="px-4 text-center">
              <input class="mr-4" type="checkbox" [(checked)]="item.selected"
                (change)="selectProduct(item, $event.target.checked)">
            </td>
            <td class="text-right">
              <button style="width: 100%;" class="btn btn-primary btn-sm" type="button" (click)="openModal(history, item)">
                Administrar
              </button>
              <button style="width: 100%;" class="btn btn-danger btn-sm mt-2" type="button" (click)="remove(item)">
                <!-- <i class="fa fa-close" aria-hidden="true"></i> -->
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': page <= 1}"><a class="page-link"
              (click)="previousPage()">Anterior</a></li>
          <li class="page-item "><a class="page-link">{{page}}</a></li>
          <li class="page-item" [ngClass]="{'disabled': pages <= page}"><a class="page-link"
              (click)="nextPage()">Siguiente</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-4 text-right pt-2">
      <span class="text-muted">
        Total de páginas {{pages}}
      </span>
    </div>
  </div>
</div>

<ng-template id="history" #history class="modal fade" aria-hidden="true">

  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title"><b>Detalles de la venta</b></h1>
      <button class="btn btn-primary btn-sm mr-2" type="button" printSectionId="print-section" ngxPrint>
        <i class="fa fa-file" aria-hidden="true"></i> Generar Factura
      </button>
    </div>
    <div class="modal-body" style="padding: 2em">
      <div class="row">
        <h2><b>Subproductos Vendidos</b></h2>
        <!-- /////// row table -->
        <div class="col-md-12 mt-4" class="list">
          <!-- //// PRODUCT LIST -->
          <table class="table table-striped mt-4">
            <thead class="thead-light">
              <tr>
                <th>Producto</th>
                <th>Característica</th>
                <th>IMEI</th>
                <th>Costo</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <!-- Cargador -->
              <!-- <tr *ngIf="!loading && products.length == 0" class="text-center">
                      <td colspan="7">
                          <span class="text-muted">
                              <i class="fa fa-close" aria-hidden="true"></i>
                              No hay productos
                          </span>
                      </td>
                  </tr> -->
              <tr *ngFor="let item of itemSelected.products">
                <td width="25%">{{item.subproduct?.product?.name}}</td>
                <td width="25%">{{item.subproduct?.name}}</td>
                <td width="25%">{{item.imei}}</td>
                <!-- <td width="25%">1</td> -->
                <td width="25%">{{item.subproduct?.cost}}</td>
                <td width="25%">{{item.subproduct?.price}}</td>

                <!-- <td width="25%">{{item.amount}}</td> -->

                <!-- <td width="25%">${{item.price}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /////// end row table -->
      </div>
      <hr>
      <h2><b>Datos de la venta</b></h2>
      <div class="row">
        <div class="col-md-6">
          <p *ngIf="itemSelected?.client"><b>Cliente:</b> {{itemSelected?.client?.name}}</p>
          <p style="color: gray;" *ngIf="!itemSelected?.client"><b>Cliente:</b>Cliente eliminado</p>

          <p *ngIf="itemSelected?.client"><b>Email del Cliente:</b> {{itemSelected?.client?.emailAddress}}</p>
          <p style="color: gray;" *ngIf="!itemSelected?.client"><b>Cliente:</b>Cliente eliminado</p>

          <p><b>Fecha:</b> {{itemSelected.createdAt | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-md-6">
          <p><b>Descuento:</b> ${{itemSelected?.discount}}</p>
          <p><b>Total Gastado:</b> ${{itemSelected?.total}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <hr>
        <div class="col-md-6">
          <p><b>Total pagado en Pesos:</b> ${{itemSelected?.paidARS}}</p>
          <p><b>Total pagado en Dólares:</b> ${{itemSelected?.paidUSD}}</p>
          <p><b>Total pagado en Productos:</b> ${{itemSelected?.paidPROD}}</p>
          <p><b>Total pagado:</b> ${{itemSelected?.paidTOTAL}}</p>
        </div>
        <div class="col-md-6">
          <p><b>Costo:</b> ${{itemSelected?.paidTOTAL}}</p>
          <p><b>Ganancia en Pesos:</b> ${{itemSelected?.paidTOTAL}}</p>
          <p><b>Ganancia en Dólares:</b> ${{itemSelected?.paidTOTAL}}</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <button type="button" style="background: #eb4848; text-align: center;" class="btn danger btn-sm mr-2"
            (click)="restartPrice('pesos')">Reiniciar monto en Pesos</button>
        </div>
        <div class="col-md-6">
          <button type="button" style="background: #eb4848; text-align: center;" class="btn danger btn-sm mr-2"
            (click)="restartPrice('dolares')">Reiniciar monto en Dólares</button>
        </div>
      </div>

      <hr>
      <h2><b>Impactar en la deuda</b></h2>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <label>Impactar en pesos</label>
            <input type="text" [(ngModel)]="paidARS" class="form-control">
            <!-- <input type="text" class="form-control" formControlName="name"> -->
            <!-- <small *ngIf="isFieldValid('name')" class="form-text text-danger">
                {{getFieldError('name')}}
            </small> -->
          </div>
        </div>
        <div class="col-md-6 buttonCol">
          <button (click)="payARS()" type="submit" class="btn primary btn-sm mr-2">
            Efectuar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <label>Impactar en Dólares</label>
            <input [(ngModel)]="paidUSD" type="text" class="form-control">
            <!-- <input type="text" class="form-control" formControlName="name"> -->
            <!-- <small *ngIf="isFieldValid('name')" class="form-text text-danger">
                {{getFieldError('name')}}
            </small> -->
          </div>
        </div>
        <div class="col-md-6 buttonCol">
          <button (click)="payUSD()" type="submit" class="btn primary btn-sm mr-2">
            Efectuar
          </button>
        </div>
      </div>
      
      <div hidden class="row buttonCol" style="padding: 2em;">
        <p>Si de parte de pago se recibió un producto, complete el formulario de abajo para agregar un subproducto
          cuyo costo se sumará al total pagado de la venta.
        </p>
        <button (click)="displayProductLoad()" type="submit" class="btn primary btn-sm mr-2">
          Impactar deuda con un producto
        </button>
      </div>

      <hr>
      <div hidden *ngIf="showProductInterface">
        <h2><b>Cargar SubProducto como parte de pago</b></h2>

        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
        <div class="form-row">

          <div class="col-md-6">
            <label>Producto</label>
            <select class="form-control custom-select" [(ngModel)]="product">
              <option *ngFor="let product of products" [value]="product.id">{{ product.name }}
              </option>
            </select>
            <!-- <small *ngIf="isFieldValid('product')" class="form-text text-danger">
                {{getFieldError('product')}}
              </small> -->
          </div>
          <div class="col-md-6">
            <label>Nombre</label>
            <input [(ngModel)]="name" type="text" class="form-control">
            <!-- <input type="text" class="form-control" formControlName="name"> -->
            <!-- <small *ngIf="isFieldValid('name')" class="form-text text-danger">
                {{getFieldError('name')}}
              </small> -->
          </div>
          <div class="form-group col-md-6">
            <label>Código</label>
            <input [disabled]="disableCode" [(ngModel)]="code" type="text" class="form-control">

            <!-- <input type="text" class="form-control" formControlName="code"> -->
            <!-- <small *ngIf="isFieldValid('code')" class="form-text text-danger">
                {{getFieldError('code')}}
              </small> -->
          </div>

          <div class="form-group col-md-6">
            <zxing-scanner [enable]="scannerEnabled" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
              #scanner (scanSuccess)="scanSuccessHandler($event)">
            </zxing-scanner>
            <!-- <h3 *ngIf="scannerEnabled">Código: {{form.value.code}}</h3> -->
            <button type="button" (click)="enableScanner()" class="btn btn-primary float-right mr-5">
              <i class="fa fa-eye" aria-hidden="true"></i> ESCANEAR
            </button>
          </div>
          <div class="form-group col-md-6">
            <label>Costo</label>
            <input type="number" [(ngModel)]="priceSub" class="form-control">
            <!-- <input type="number" class="form-control" formControlName="price"> -->
            <!-- <small *ngIf="isFieldValid('price')" class="form-text text-danger">
                {{getFieldError('price')}}
              </small> -->
          </div>
          <div class="form-group col-md-6">
            <label>Cantidad</label>
            <input type="number" [(ngModel)]="stock" class="form-control">
            <!-- <input type="number" class="form-control" formControlName="price"> -->
            <!-- <small *ngIf="isFieldValid('price')" class="form-text text-danger">
                {{getFieldError('price')}}
              </small> -->
          </div>

          <div class="col-md-12" style="margin: 1em;">
            <!-- <button class="btn btn-primary float-right mr-5" type="submit" [disabled]="!form.valid"> -->
            <button class="btn btn-primary float-right mr-5" type="button" (click)="createSubProduct()">
              <i class="fa fa-check" aria-hidden="true"></i> CREAR
            </button>
          </div>
        </div>
        <!-- </form> -->

        <h2><b>SubProductos usados como parte de pago</b></h2>
        <div class="row">
          <!-- /////// row table -->
          <div class="col-md-12 mt-4" class="list">
            <!-- //// PRODUCT LIST -->
            <table class="table table-striped mt-4">
              <thead class="thead-light">
                <tr>
                  <th>Nombre</th>
                  <th>Código</th>
                  <th>Cantidad</th>
                  <th>Monto</th>
                  <th>Monto Total</th>

                </tr>
              </thead>
              <tbody>
                <!-- Cargador -->

                <!-- <tr *ngFor="let item of subproducts">
                  <td width="33%">{{item.name}}</td>
                  <td width="33%">{{item.code}}</td>
                  <td width="34%">{{item.stock}}</td>
                  <td width="34%">{{item.price}}</td>
                  <td width="34%">{{item.stock * item.price}}</td>

                </tr> -->
              </tbody>
            </table>
          </div>
          <!-- /////// end row table -->
        </div>


      </div>
      <!--  -->
    </div>
    <div class="modal-footer">

    </div>
  </div>
</ng-template>


<!-- ////////////// pdf //////////////// -->

<div id="print-section" style="visibility: hidden;">
  <div
    style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
      <img src="../../../assets/pdf/background.jpg" width=595 height=841>
    </div>
    <div
      style='position:absolute;left:267.21px;top:19.00px; font-family:"DejaVu Sans Condensed",serif;font-size:15.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style="font-family:'DejaVu Sans Condensed',serif;font-size:15.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none">Original</span>
    </div>
    <div
      style='position:absolute;left:283.34px;top:59.73px; font-family:"DejaVu Sans Condensed",serif;font-size:44.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:44.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>C</span>
    </div>
    <div
      style='position:absolute;left:373.21px;top:76.74px; font-family:"DejaVu Sans Condensed",serif;font-size:30.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:18.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>Comprobante de pago</span>
    </div>
    <div
      style='position:absolute;left:255.67px;top:91.69px; font-family:"DejaVu Sans Condensed",serif;font-size:24.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:24.0px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none'></span>
    </div>
    <div
      style='position:absolute;left:48.96px;top:142.39px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>Whatsapp:
        3417193615</span>
    </div>
    <div
      style='position:absolute;left:381.60px;top:142.39px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        </span>
    </div>
    <div
      style='position:absolute;left:48.61px;top:157.65px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        Instagram: itr.technologicalhouse</span>
    </div>
    <div
      style='position:absolute;left:381.25px;top:157.65px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        Fecha de emisión: {{itemSelected?.createdAt | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div
      style='position:absolute;left:48.96px;top:194.86px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
        Cliente</span>
    </div>
    <div
      style='position:absolute;left:48.96px;top:216.72px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        Nombre: {{itemSelected?.client?.name}}</span>
    </div>
    <div
      style='position:absolute;left:252.17px;top:216.72px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        DNI: {{itemSelected?.client?.dni}}</span>
    </div>
    <div
      style='position:absolute;left:381.27px;top:216.72px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        Teléfono: {{itemSelected?.client?.phone}}</span>
    </div>
    <div
      style='position:absolute;left:381.46px;top:231.81px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        Mail: {{itemSelected?.client?.emailAddress}}</span>
    </div>
    <div
      style='position:absolute;left:267.21px;top:271.44px; font-family:"DejaVu Sans Condensed",serif;font-size:15.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:15.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>Productos</span>
    </div>
    <div
      style='position:absolute;left:48.96px;top:298.15px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>Producto</span>
    </div>
    <div
      style='position:absolute;left:158.40px;top:298.15px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>Característica</span>
    </div>
    <div
      style='position:absolute;left:335.40px;top:298.15px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>IMEI</span>
    </div>
    <div
      style='position:absolute;left:456.57px;top:298.15px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>Precio</span>
    </div>
    <div *ngFor="let item of itemSelected?.products; let i = index;">
      <div [style.top.px]="getTop(i)"
        style='position:absolute;left:48.96px;font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        <span
          style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
          {{item.subproduct?.product?.name}}</span>
      </div>
      <div [style.top.px]="getTop(i)"
        style='position:absolute;left:158.44px;font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        <span
          style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
          {{item.subproduct?.name}}</span>
      </div>
      <div [style.top.px]="getTop(i)"
        style='position:absolute;left:335.40px;font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        <span
          style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
          {{item.imei}}</span>
      </div>
      <div [style.top.px]="getTop(i)"
        style='position:absolute;left:456.57px;font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        <span
          style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
          ${{item.subproduct?.price}}</span>
      </div>
    </div>
    <div
      style='position:absolute;left:357.38px;top:773.45px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
        Subtotal:</span>
    </div>
    <div
      style='position:absolute;left:456.57px;top:773.73px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        ${{itemSelected?.total}}</span>
    </div>
    <div
      style='position:absolute;left:343.39px;top:793.79px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
        Descuento:</span>
    </div>
    <div
      style='position:absolute;left:456.57px;top:793.45px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        ${{itemSelected?.discount}}</span>
    </div>
    <div
      style='position:absolute;left:382.12px;top:814.49px; font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed Bold",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none'>
        Total:</span>
    </div>
    <div
      style='position:absolute;left:456.57px;top:814.00px; font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
      <span
        style='font-family:"DejaVu Sans Condensed",serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none'>
        ${{itemSelected?.total - itemSelected?.discount}}</span>
    </div>
  </div>
</div>