.primary {
    background-color: rgb(102, 102, 102);
    color: white;
}

.icon-primary {
    color: rgb(102, 102, 102);
}

.img-fluid {
    border-radius: 50%;
    border-color: rgb(102, 102, 102);
}

.list {
    width: 100%;
    height: 40vh;
    overflow-y: auto;
}

.modal {
    height: 10;
}

.buttonCol {
    display: grid;
    place-items: center;

}

// 

.modal-content {
    width: 50vw;
}
