<div class="container">
  <nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/coupons']" routerLinkActive="router-link-active">
          Cupones</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Detalle del cupón</li>
    </ol>
  </nav>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="name">
        <small *ngIf="isFieldValid('name')" class="form-text text-danger">
          {{getFieldError('name')}}
        </small>
      </div>
      
      <div class="form-group col-md-2">
      </div>
      
      <div class="form-group col-md-5">
        <label>Seleccionar Empresa</label>
        <select class="form-control custom-select" formControlName="company" >
          <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
        </select>
        <small *ngIf="isFieldValid('company')" class="form-text text-danger">
          {{getFieldError('company')}}
        </small>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-5">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Seleccionar Producto</label>
            <select class="form-control custom-select" formControlName="product" (change)="handleProductChange(productSelect)" #productSelect>
              <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
            </select>
            <small *ngIf="isFieldValid('product')" class="form-text text-danger">
              {{getFieldError('product')}}
            </small>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Seleccionar Categoria</label>
            <select class="form-control custom-select" [value]="category" disabled>
              <option value=""></option>
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <small *ngIf="isFieldValid('category')" class="form-text text-danger">
              {{getFieldError('category')}}
            </small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12 m-0">
            <label>Precio original base</label>
            <input type="number" class="form-control" [(ngModel)]="priceWithoutDiscount" [ngModelOptions]="{standalone: true}" readonly>
            <small *ngIf="isFieldValid('price')" class="form-text text-danger">
              {{getFieldError('price')}}
            </small>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">

      </div>
      <div class="form-group col-md-5" *ngIf="type !== settings.products.type.service.code">
        <label>Descripción</label>
        <textarea class="form-control" formControlName="description" cols="30" rows="7" style="resize: none;"></textarea>
        <small *ngIf="isFieldValid('description')" class="form-text text-danger">
          {{getFieldError('description')}}
        </small>
      </div>
      <div class="form-group col-md-5 text-center" *ngIf="type === settings.products.type.service.code">
        <img src="../../../assets/imgs/qr.png" class="img-thumbnail w-50">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label>Descuento del cupón</label>
        <input type="number" class="form-control" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}" (change)="calculatePriceWithDiscount()" max="100" min="0">
        <small *ngIf="invalidDiscountValueAlert" class="form-text text-danger">
          {{ invalidDiscountValueAlert }}
        </small>
      </div>

      <div class="form-group col-md-2">
      </div>

      <div class="form-group col-md-5">
        <label>Vencimiento del cupón</label>
        <input type="date" class="form-control" [min]="minDate" [(ngModel)]="dueDate" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label>Precio final</label>
        <input type="number" class="form-control" step="0.01" [(ngModel)]="priceWithDiscount" [ngModelOptions]="{standalone: true}" readonly>
      </div>

      <div class="form-group col-md-2">
      </div>

      <div class="form-group col-md-5">
        <label>Cantidad de cupones disponibles</label>
        <input type="number" class="form-control" formControlName="quantityAvailable">
        <small *ngIf="isFieldValid('quantityAvailable')" class="form-text text-danger">
          {{getFieldError('quantityAvailable')}}
        </small>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Condiciones</label>
        <textarea class="form-control" formControlName="conditions" cols="30" rows="6" style="resize: none;"></textarea>
        <small *ngIf="isFieldValid('conditions')" class="form-text text-danger">
          {{getFieldError('conditions')}}
        </small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4"></div>
      
      <div class="form-group col-md-4 text-center">
        <label>Tipo de cupón</label>
        
        <div class="form-row">
          <div class="form-group col-md-6" *ngFor="let t of settings.coupons.type">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" [id]="t.code" [value]="t.code" disabled>
              <label class="form-check-label" [for]="t.code">{{ t.label }}</label>
            </div>
          </div>
        </div>
        <small *ngIf="isFieldValid('type')" class="form-text text-danger">
          {{getFieldError('type')}}
        </small>
      </div>

      <div class="form-group col-md-4"></div>
    </div>

    <div class="form-row" *ngIf="type === settings.products.type.service.code">
      <div class="form-group col-md-6 border p-4">
        <div class="form-row">
          <div class="col-md-8">
            <h2 class="text-primary m-0">Opciones</h2>
          </div>
          <div class="form-group col-md-4 text-right">
            <button type="button" class="btn btn-info ml-2" (click)="openModal(optionsModal)">
              <i class="fa fa-plus"></i> Agregar
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th>
                  <button type="button" class="btn btn-light">
                    Nombre
                  </button>
                </th>
                <th class="text-center">
                  <button type="button" class="btn btn-light">
                    Precio
                  </button>
                </th>
                <th>
                  <button type="button" class="btn btn-light invisible">
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Cargador -->
              <tr *ngIf="loading" class="text-center">
                <td colspan="6">
                  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...
                </td>
              </tr>
              <!-- Texto cuando no hay resultados  -->
              <tr *ngIf="!loading && options.length == 0" class="text-center">
                <td colspan="6">
                  <span class="text-muted">
                    <i class="fa fa-close" aria-hidden="true"></i>
                    Este servicio aún no tiene opciones asignadas.
                  </span>
                </td>
              </tr>
              <tr *ngFor="let option of options">
    
                <td class="px-4 align-middle">
                  {{ option.name }}
                </td>
                <td class="px-4 text-center align-middle">
                  ${{ option.price }}
                </td>

                <td class="text-right">
                  <button type="button" class="btn btn-danger btn-sm ml-2" (click)="deleteOption(option)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="form-group col-md-1"></div>

      <div class="form-group col-md-5" *ngIf="type === settings.products.type.service.code">
        <label>Descripción</label>
        <textarea class="form-control" formControlName="description" cols="30" rows="7" style="resize: none;"></textarea>
        <small *ngIf="isFieldValid('description')" class="form-text text-danger">
          {{getFieldError('description')}}
        </small>
      </div>
    </div>


    <div class="form-row" *ngIf="type === settings.products.type.product.code">
      <div class="form-group col-md-6 border p-4">
        <div class="form-row">
          <div class="col-md-8">
            <h2 class="text-primary m-0">Adicionales</h2>
          </div>
          <div class="form-group col-md-4 text-right">
            <button type="button" class="btn btn-info ml-2" (click)="openModal(additionalsModal)">
              <i class="fa fa-plus"></i> Agregar
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th>
                  <button type="button" class="btn btn-light">
                    Nombre
                  </button>
                </th>
                <th class="text-center">
                  <button type="button" class="btn btn-light">
                    Precio
                  </button>
                </th>
                <th>
                  <button type="button" class="btn btn-light invisible">
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Cargador -->
              <tr *ngIf="loading" class="text-center">
                <td colspan="6">
                  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...
                </td>
              </tr>
              <!-- Texto cuando no hay resultados  -->
              <tr *ngIf="!loading && additionals.length == 0" class="text-center">
                <td colspan="6">
                  <span class="text-muted">
                    <i class="fa fa-close" aria-hidden="true"></i>
                    Este producto aún no tiene adicionales asignados.
                  </span>
                </td>
              </tr>
              <tr *ngFor="let additional of additionals">
    
                <td class="px-4 align-middle">
                  {{ additional.name }}
                </td>
                <td class="px-4 text-center align-middle">
                  ${{ additional.price }}
                </td>
    
                <td class="text-right">
                  <button type="button" class="btn btn-danger btn-sm ml-2" (click)="deleteAdditional(additional)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr>
    
    <div class="row justify-content-start">
      <div class="col-md-6 ">
        <button class="btn btn-secondary float-right btn-sm"  type="submit" [disabled]="!form.valid || invalidDiscountValueAlert">
          <i class="fa fa-check" aria-hidden="true"></i> GUARDAR
        </button>
      </div>
    </div>
  </form>



  <ng-template #optionsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title m-0" id="modal-basic-title">Opciones</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="height: auto;">
      <div class="form-row">
        <div class="form-group col-md-9 mx-auto">
          <label>Nombre </label>
          <input type="text" class="form-control" [(ngModel)]="modalOption">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-9 mx-auto">
          <label>Precio </label>
          <input type="text" class="form-control" [(ngModel)]="modalOptionPrice">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" [disabled]="modalSaveDisabled()" (click)="saveItemModal()">Guardar</button>
    </div>
  </ng-template>

  <ng-template #additionalsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title m-0" id="modal-basic-title">Nuevo adicional</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="height: auto;">
      <div class="form-row">
        <div class="form-group col-md-9 mx-auto">
          <label>Producto: </label>
          <select class="form-control custom-select" [(ngModel)]="modalProduct">
            <option *ngFor="let product of modalProducts" [value]="product.id">{{ product.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" [disabled]="modalSaveDisabled()" (click)="saveItemModal()">Guardar</button>
    </div>
  </ng-template>
</div>