<div class="container">
  <div class="row section-header">
    <div class="col-sm-6">
      <h2 class="section-title text-primary">Pedidos</h2>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
  <div class="row section-filters mt-2">
    <div class="col-md-3">
      <div class="form-group">
        <label for="textSearch">Fecha Desde</label>
        <input type="date" class="form-control" [(ngModel)]="dateFrom" [ngModelOptions]="{standalone: true}" (change)="getItems()">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="textSearch">Fecha Hasta</label>
        <input type="date" class="form-control" [(ngModel)]="dateTo" [ngModelOptions]="{standalone: true}" (change)="getItems()">
      </div>
    </div>
    <!-- <div class="col-md-1">
      <div class="form-group">
        <label class="invisible">.</label>
        <button class="btn btn-outline-primary btn-block" (click)="getItems()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div> -->
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="invisible">.</label>
        <select class="form-control custom-select" (change)="handleStatusSelect(statusSelect)" #statusSelect>
          <option value="" selected>Todos</option>
          <option *ngFor="let status of settings.orders.status" [value]="status.code">{{ status.label }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row p-3">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('number')">
                Número
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.number == 1,'fa-arrow-up': sortField.number == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('paymentDate')">
                Fecha
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.paymentDate == 1,'fa-arrow-up': sortField.paymentDate == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-light" (click)="sort('status')">
                Estado
                <i class="fa" [ngClass]="{'fa-arrow-down': sortField.status == 1,'fa-arrow-up': sortField.status == -1}"
                  aria-hidden="true"></i>
              </button>
            </th>

            <th class="text-right">
              {{count}} Resultados
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="loading" class="text-center">
            <td colspan="6">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...
            </td>
          </tr>
          <tr *ngIf="!loading && items.length == 0" class="text-center">
            <td colspan="6">
              <span class="text-muted">
                <i class="fa fa-close" aria-hidden="true"></i>
                No hay resultados para mostrar
              </span>
            </td>
          </tr>
          <tr *ngFor="let item of items">

            <td class="px-4">
              #{{ item.number }}
            </td>

            <td class="px-4">
              {{ item.paymentDate | date: 'dd/MM/yy' }}
            </td>

            <td class="px-4">
              <ng-container *ngFor="let status of settings.orders.status">
                <span *ngIf="item.status === status.code" class="badge" [ngClass]="'bg-' + status.color">{{ status.label }}</span>
              </ng-container>
            </td>

            <td class="text-right">
              <button class="btn btn-info btn-sm mr-2" type="button" (click)="edit(item)">
                Detalle
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': page <= 1}" ><a class="page-link" (click)="previousPage()">Anterior</a></li>
          <li class="page-item "><a class="page-link">{{page}}</a></li>
          <li class="page-item" [ngClass]="{'disabled': pages <= page}"><a class="page-link" (click)="nextPage()">Siguiente</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-4 text-right pt-2">
      <span class="text-muted">
        Total de páginas {{pages}}
      </span>
    </div>
  </div>
</div>