// .list-img {
//     height: 35px;
//     width: 35px;
//     object-fit: cover;
// }

// .ml-25 {
//     margin-left: 25px;
// }

.mt-25 {
  margin-top: 25px;
}

// mat-slider {
//     width: 335px;
//     margin-top: 17px;
//   }

// .images-services {
//     height:150px;
//     width: 200px;
//     margin-top: 15px;
//     object-fit: cover;

// }

// .videos-services {
//     margin-right: 50px;
// }

// .icon-close-video {
//     margin-right: -50px;
//     margin-top: 20px;
// }

// .icon-close-image {
//     margin-top: 15px;
//     margin-right: -9px;
//     margin-bottom: -10px;
// }

// .ml-41 {
//     margin-left: 41px;
// }

// .title-img {
//     font-size: 25px;
// }

// .height-30 {
//     height: 30px;
// }

// .mt-27 {
//     margin-top: -27px;
// }

// .button-add {
//     margin-top: 27px;
// }

// .promotions-list {
//     div {
//         display: inline-block;
//         max-width: 170px ;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         margin-left: 5px;
//     }
// }

// .promotions-list-buttons {
//     display: inline-flex;
// }

// .selected {
//     background-color:#218838 !important;
//     color: white;
// }
.upload-container {
  border: 1px solid #dadada;
  padding: 1em;
  background: white;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
